@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@400;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-exo-2: 'Exo 2', sans-serif;
  }

  body {
    font-family: var(--font-exo-2);
    color: white;
    background-color: black;
    overflow: hidden;
  }
}

@layer components {
}
