@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@400;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-exo-2: 'Exo 2', sans-serif;
  }

  body {
    font-family: var(--font-exo-2);
    color: white;
    background-color: black;
    overflow: hidden;
  }
}

@layer components {
  .isSun {
    clip-path: circle(950px at 0px 100px) !important;
  }
  .isSaturn {
    clip-path: none !important;
  }
  .setClipPath {
    clip-path: circle(400px at var(--x) var(--y)) !important;
  }

  .stars,
  .twinkling {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    display: block;
  }

  .stars {
    background: #000 url(/assets/images/stars.webp);
    background-size: cover;
    z-index: -2;
  }

  .twinkling {
    background: transparent url(/assets/images/twinkling.png) repeat top center;
    z-index: -1;
    animation: move-twink-back 500s linear infinite;
  }

  @keyframes move-twink-back {
    from {
      background-position: 0 0;
    }
    to {
      background-position: -10000px 5000px;
    }
  }

  @media (prefers-reduced-motion: no-preference) {
  }
}
