@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@400;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-exo-2: 'Exo 2', sans-serif;
  }

  body {
    font-family: var(--font-exo-2);
    color: white;
    background-color: black;
    overflow: hidden;
  }
}

@layer components {
  .stars,
  .twinkling,
  .clouds {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: block;
  }

  .isSun {
    clip-path: circle(1000px at 0px 0px) !important;
  }
  /* .clip-mercury {
    clip-path: circle(379px at center);
  }
  .clip-venus {
    clip-path: circle(345px at center);
  }
  .clip-earth {
    clip-path: circle(335px at center);
  } */

  .stars {
    background: #000 url(./src/assets/images/stars.png);
    background-size: cover;
    z-index: -2;
  }

  .twinkling {
    background: transparent url(./src/assets/images/twinkling.png) repeat top
      center;
    z-index: -1;
    animation: move-twink-back 500s linear infinite;
  }

  @keyframes move-twink-back {
    from {
      background-position: 0 0;
    }
    to {
      background-position: -10000px 5000px;
    }
  }

  @keyframes move-clouds-back {
    from {
      background-position: 0 0;
    }
    to {
      background-position: 10000px 0;
    }
  }

  @media (prefers-reduced-motion: no-preference) {
    .sparkle-wrapper {
      animation: comeInOut 700ms forwards;
    }

    .sparkle-svg {
      animation: spin 1000ms linear;
    }
  }

  @keyframes comeInOut {
    0% {
      transform: scale(0);
    }
    50% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }

  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(180deg);
    }
  }
}
